* {
  font-family: 'SimSun', 'Courier New';
  line-height: 1.5;
  background-color: $background-orange;
}

a {
  text-decoration: none;
  color: $orange;

  :visited {
    color: inherit;
  }
}

ol, ul {
  padding: 0;
  list-style: none;
}
